{% extends 'base.html.twig' %}

{% block body %}
<div>
    <h2>{{ equipment.designation }}</h2>

    <div class="container col-lg-4 col-md-6 col-sm-12">
        <p class="description">{{ equipment.description }}</p>
        <p><b>Marque : </b>{{ equipment.brand }}</p>
        <p><b>Prix : </b>{{ equipment.price | number_format(2) }} €</p>
        <p><b>Quantité : </b>{{ equipment.quantity }}</p> 
        <div class="row justify-content-center">
            <a class="btn btn-success" href="{{ path('list') }}">Retour</a>
        </div>       
    </div>
</div>

{% endblock %}