{% extends 'base.html.twig' %}

{% block body %}
<div>
    <h2>{{ equipment.designation }}</h2>
    <p>{{ equipment.description }}</p>
    <p>Marque : {{ equipment.brand }}</p>
    <p>Prix : {{ equipment.price | number_format(2) }} €</p>
    <p>Quatité : {{ equipment.quantity }}</p>
    
</div>

{% endblock %}