{% extends 'base.html.twig' %}

{% block title %}V.H.F.{% endblock %}

{% block stylesheet %} {{ parent() }} {% endblock %}

{% block body %}

    <h2>{{ title }}</h2>

    <div class="formulaire col-lg-4 col-md-6 col-sm-8">

        {{ form_start(form) }}
            {{ form_label(form.designation, null, {'label_attr': {'class': 'sr-only'}}) }}
            {{ form_widget(form.designation, {'attr': {'class': 'form-control input', 'placeholder': 'Désignation...'}}) }}
            {{ form_errors(form.designation) }}

            {{ form_label(form.description, null, {'label_attr': {'class': 'sr-only'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control input', 'placeholder': 'Description...'}}) }}
            {{ form_errors(form.description) }}

            {{ form_label(form.brand, null, {'label_attr': {'class': 'sr-only'}}) }}
            {{ form_widget(form.brand, {'attr': {'class': 'form-control input', 'placeholder': 'Marque...'}}) }}
            {{ form_errors(form.brand) }}

            {{ form_label(form.price, null, {'label_attr': {'class': 'sr-only'}}) }}
            {{ form_widget(form.price, {'attr': {'class': 'form-control input', 'placeholder': 'Prix...'}}) }}
            {{ form_errors(form.price) }}

            {{ form_label(form.quantity, null, {'label_attr': {'class': 'sr-only'}}) }}
            {{ form_widget(form.quantity, {'attr': {'class': 'form-control input', 'placeholder': 'Quantité...'}}) }}
            {{ form_errors(form.quantity) }}

            <div class="row justify-content-center">
                <button type="submit" class="btn btn-success">Enregistrer</button>
            </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
